$site-base-green: #3bb878;
$site-base-cyan: #00bdd9;
$site-base-yellow: #ffce46;
$site-base-red: #f47a4b;
$site-base-grey: #bcbec0;

$site-base-font-color: #4d4d4f;
$site-menu_line-color: #ebfafc;
$site-border-color: #4d4d4f;

$login-bg-img: 'gray-concrete-post-tunnel-1531677.jpg';
$logo-img: 'demunity.svg';

$submit-btn-color: #2f2099;
